*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 2946px){
  .main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
  }
}

@media screen and (max-width: 919px){
  .main{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
  }
}

.sectionForm{
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  padding: 10px 10px 10px 10px;
}

.form{
  display: flex;
  flex-direction: column;
}

.form input{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 15px;
  text-align: center;
  outline: none;
}

.form button{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 15px;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}

.saidaDados{
  width: 400px;
  height: 150px;
  padding: 10px 10px 10px 10px;
  background-color: aquamarine;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.saidaDados span{
  font-weight: 900;
}